# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Conda environment files
.conda
envs/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFES

# VS Code files
.vscode/

# IDE files
.idea/
*.swp
*.swo
